:root {

    /* main colors */
    --regular_text:#111111;
    --background_color: rgb(255, 255, 245);
    --shadow_color: rgb(36, 31, 34);
    --bg_gradient_color_1: #cac39c;
    --bg_gradient_color_2: #fe8e8e0f;    
    --option_gradient_color_1: #ffffff;
    --option_gradient_color_2: #cac39c4b;    
    --highlight_background: #111111;    
    --highlight_text: rgb(255, 255, 245);
    --robot_eyes: #a87745;
    --robot_purple: #b097cd;
}


html, body, button, select {
    font-family: 'Goudy Bookletter 1911', serif;
    text-align: center;
    /* background-color: var(--background_color); */
}

h2:hover {
  color: var(--robot_eyes);
}

.optionStuff {
    color: var(--regular_text);
    border: 1px solid black;
    background-color: var(--background_color);
    background: linear-gradient(to bottom right, var(--option_gradient_color_1), var(--option_gradient_color_2)), url(../img/noise.svg);
    box-shadow:
    2px 2px var(--shadow_color);    
}

.optionStuff:hover {
    background: linear-gradient(to bottom right, var(--robot_purple), var(--option_gradient_color_2)), url(../img/noise.svg);
    box-shadow:
    -10px 0 150px var(--robot_purple),
    3px 3px var(--shadow_color);
}

body {
    height: calc(97.5vh);
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -1;
    /* background: radial-gradient(circle at 50% 50%, var(--bg_gradient_color_1), var(--bg_gradient_color_2)), url(../img/noise.svg); */
    background: linear-gradient(to top left, var(--bg_gradient_color_1), var(--bg_gradient_color_2)), url(../img/noise.svg);
}

body::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: -25px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 8px solid var(--regular_text);
  }
table {
    width: 100%;
}

td {
    width: 100px;
}

/* #sonnet_text {} */

#sonnet_btn {
    margin: 15px;
    cursor: pointer;
}

#sonnet_btn:hover {
    /* background-color: var(--regular_text); */
    /* color: var(--background_color); */
}

select:required:invalid {
    color: #666;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #000;
  }

  ::selection {
    background: var(--highlight_background); /* WebKit/Blink Browsers */
    color: var(--highlight_text); /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: var(--highlight_background); /* Gecko Browsers */
    color: var(--highlight_text); /* Gecko Browsers */
  }