:root {

    /* main colors */
    --regular_text:#111111;
    --background_color: rgb(255, 255, 245);
    --particles_background_color: #131413;
    --particles_color: #f652ac;
    --header_hover: #fe8e8e;
    --header_contrast_color: #e0e0e0;
    /* TODO mess w colors here */
    --hover_link: rgb(255, 231, 253);
    --highlight_hover: #ffffff8e;
    --highlight_hover_accent: #f652ac5b;
    --bg_gradient_color_1: #3331AC;
    --bg_gradient_color_2: #fe8e8e0f;
    --highlight_hover_color_1: #fe8e8e;
    --highlight_hover_color_2: #8eeffe26;
    --highlight_hover_color_2_alt: #ff000054;
    --visited_color: #0027bb;
    --link_color: #0027bb;
    --accent_color: rgb(255, 231, 253);
    --button_hover_color: #fe8e8e;
    --button_hover_color_2: transparent;
    --small_contrast_bio_color: #e0e0e0;
    --shadow_color: rgb(36, 31, 34);
}

html, body, button, select {
    font-family: 'Goudy Bookletter 1911', serif;
    text-align: center;
    background-color: var(--background_color);
}

table {
    width: 100%;
}

td {
    width: 100px;
}

#sonnet_btn {
    border: 2px solid black;
    background-color: var(--background_color);
    cursor: pointer;
}

/* #sonnet_text {} */

#sonnet_btn:hover {
    background-color: var(--regular_text);
    color: var(--background_color);
}

select:required:invalid {
    color: #666;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #000;
  }